.footer {
    padding: 5px;
    p {
        color: $c_gray_default;
        text-transform: uppercase;
        font-size: $f_size_secundary;
        @media only screen and (max-width: 500px) {
            text-align: center;
        }
    }
}

#pagination {
    text-align: right;
    @media only screen and (max-width: 500px) {
        text-align: center;
    }
}