html,
body {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
p {
    font-weight: 100;
    font-family: Verdana;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $max_width_default;
}

.container-text {
    margin-left: auto;
    margin-right: auto;
    color: $c_gray_default;
    padding: 0px 30px;
    max-width: 733px;
    text-align: center;
    p {
        font-size: $f_size;
        @media screen and (max-width: 320px) {
            font-size: $f_size_mobile;
        }
    }
}

.btn-primary {
    background-color: $c_green_default;
    border: none;
    padding: 15px 30px;
    color: $c_white;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: 320px) {
        font-size: $f_size_secundary;
    }
}

.button-section {
    @media screen and (max-width: 500px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.bg-gray {
    background-color: rgb(239, 239, 239);
}

.bg-black {
    background-color: #322f2f;
    color: white;
}

.center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}