// c - colors
$c_gray_default: #777777;
$c_white: white;
$c_green_default: #2ecc71;

// f - font
$f_size: 1em;
$f_size_secundary: 0.8em;
$f_size_mobile: 0.7em;

$transition-time: 0.7s;

$max_width_default: 960px;
